@page "/tours/test"
@inject NavigationManager NavigationManager
@inherits TourModel
@inject IModalService ModalService


<h3>NewTours</h3>

<div class="card m-3 table-briefs border-0">
    <div class="card-body m-2">
        <div class="row mb-2">
            <div class="col">
                <h3 class="font-weight-bold">Туры</h3>
            </div>
            <div class="col">
                <button class="btn btn-primary float-end" @onclick=@(NewTourClick)>
                    Добавить тур
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        @foreach (var tour in ToursList)
        {
            <div class="tours-card" @onclick="@(() => OnRowClick(tour))">
                <img src="assets/placeholder.jpg" width="300" style="align-content:center">
                <div class="h3">@tour.Name</div>
                <div>@tour.Country.Name</div>
                <div>@tour.City.Name</div>
                <div>@tour.DepartureDate</div>
                <div>@tour.Price</div>
            </div>
        } 
    </div>
</div>

@code {
        public List<Tour> ToursList = DataAccess.GetTours();

        bool canClickOnRow = true;

        public void NewTourClick()
        {
            NavigationManager.NavigateTo("/tours/new");
        }
    public void OnRowClick(Tour tour)
    {
        if (canClickOnRow)
        {
            var options = new ModalOptions()
                {
                    Size = ModalSize.Large
                };
            var parameters = new ModalParameters()
            .Add(nameof(TourModal.Tour), tour);
            ModalService.Show<TourModal>("Информация о туре", parameters, options);
        }
    }
    public void BookTour(Tour tour)
    {
        var parameters = new ModalParameters()
            .Add(nameof(ToursPages.BookTour.Tour), tour);
        ModalService.Show<BookTour>("Бронь тура", parameters);
    }
    public void DisableRowClick()
    {
        canClickOnRow = false;
    }
    public void EnableRowClick()
    {
        canClickOnRow = true;
    }
}
