@page "/tours/{stringid}"
@inject NavigationManager NavigationManager
@inherits TourModel

<h3>TourInfo</h3>

<div class="row">
    <div class="col-md-6 offset-md-3">
        @if (stringId == "new")
        {
            <h1>Новый тур</h1>
            <EditForm Model="@ViewModel" OnValidSubmit="SaveAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
                <label for="name">Name</label>
                <InputText id="name" @bind-Value="@ViewModel.Name" class="form-control" />

                <label for="departureDate">DepartureDate</label>
                <InputDate id="departureDate" @bind-Value="@ViewModel.DepartureDate" class="form-control" />

                <label for="arrivalDate">ArrivalDate</label>
                <InputDate id="arrivalDate" @bind-Value="@ViewModel.ArrivalDate" class="form-control" />

                <label for="hotelId">HotelId</label>
                <InputSelect id="hotelId" @bind-Value="@ViewModel.HotelId" class="form-control">
                    @if (ViewModel.HotelId is null)
                    {
                        <option value="">Нет</option>
                    }

                    @foreach (var hotel in Hotels)
                    {
                        <option value="@hotel.Id">@hotel.Name</option>
                    }
                </InputSelect>

                <label for="price">Price</label>
                <InputNumber id="price" @bind-Value="@ViewModel.Price" class="form-control" />

                <label for="isVisaNeeded">IsVisaNeeded</label>
                <InputCheckbox id="isVisaNeeded" @bind-Value="@ViewModel.IsVisaNeeded" />

            <p class="my-4">
                <button type="submit" class="btn btn-primary">Save</button>
            </p>
        </EditForm>
        }
        else if (int.TryParse(stringId, out Id) && ViewModel.Name != null)
        {
            <h1>@ViewModel.Name</h1>
            <EditForm Model="@ViewModel" OnValidSubmit="SaveAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
                <label for="name">Name</label>
                <InputText id="name" @bind-Value="@ViewModel.Name" class="form-control" />

                <label for="departureDate">DepartureDate</label>
                <InputDate id="departureDate" @bind-Value="@ViewModel.DepartureDate" class="form-control" />

                <label for="arrivalDate">ArrivalDate</label>
                <InputDate id="arrivalDate" @bind-Value="@ViewModel.ArrivalDate" class="form-control" />

                <label for="hotelId">HotelId</label>
                <InputSelect  id="hotelId" @bind-Value="@ViewModel.HotelId" class="form-control" >
                    @if (ViewModel.HotelId is null)
                    {
                        <option value="">Нет</option>
                    }

                    @foreach (var hotel in Hotels)
                    {
                        <option value="@hotel.Id">@hotel.Name</option>
                    }
                </InputSelect>

                <label for="price">Price</label>
                <InputNumber id="price" @bind-Value="@ViewModel.Price" class="form-control" />

                <label for="isVisaNeeded">IsVisaNeeded</label>
                <InputCheckbox id="isVisaNeeded" @bind-Value="@ViewModel.IsVisaNeeded" />

            <p class="my-4">
                <button type="submit" class="btn btn-primary">Save</button>
            </p>
        </EditForm>
        }
        else
        {
            <Redirect Path="/tours"/>
        }
    </div>
</div>
@code {
    [Parameter]
    public string? stringId { get; set; }

    public int Id;

    public List<Hotel> Hotels { get; set; } = new List<Hotel>();

    protected override void OnInitialized()
    {
        Hotels = DataAccess.GetHotels();

        int.TryParse(stringId, out Id);
        if (Id != 0)
            ViewModel.Tour = DataAccess.GetTour(Id);
    }
}
